ion-grid
  form.ion-padding
    ion-item
      ion-label(floating='') Email
      ion-input(type='email' name='email' clearinput='true')

    ion-item
      ion-label(floating='') Password
      ion-input(type='password' name='pass' clearinput='true')

    ion-button.ion-margin-top(type='submit' expand='block') Login
