input, select {
  box-sizing : border-box;
  padding: calc(var(--size) * 2) calc(var(--size) * 3);
  appearance: none;

  background-color: white;
  border: 1px solid rgba(0, 40, 100, 0.12);
  border-radius: var(--radius);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &::placeholder { color: var(--color-gray); }
  &:focus {
    outline: 0;
    border-color: var(--color-blue);
  }


  &.-error {
    border-color: var(--color-red);
  }
}

label {
  font-weight: 600;
  font-size: 0.875rem;
  display: block;
  margin-bottom: var(--size);
}
