.menu {
  min-width: calc(var(--size) * 40);
  z-index: 3;
  background: white;
  border: var(--border);
  padding-top: 0.5rem;
  padding-bottom: calc(var(--size) * 2);

  a {
    display: block;
    padding: calc(var(--size) * 1) calc(var(--size) * 4);

    svg {
      height: calc(var(--size) * 4);
      width: calc(var(--size) * 4);
      vertical-align: middle;
      margin-right: calc(var(--size) * 2);
    }

    span {
      vertical-align: middle;
    }

    &:hover {
      background: var(--color-hover);
    }
  }
}
