$gray-100: #f8f9fa;
$gray-200: #e9ecef;

table {
  width: 100%;
  text-align: left;
  border-spacing: 0;
  background: white;

  &.-striped {
    tbody {
      tr:nth-of-type(odd) {
        background: #f8f9fa;
      }
    }
  }

  &.-hover {
    tbody {
      tr {
        &:hover {
          background: var(--color-hover);
        }
      }
    }
  }

  // Scollable tables
  &.-scroll {
    display: block;
    overflow-x: auto;
    padding-bottom: .75rem;
    white-space: nowrap;
  }

  td, th {
    border-bottom: var(--border);
    padding: calc(var(--size) * 3) calc(var(--size) * 2);
  }

  th {
    border-bottom-width: 1px;
  }
}
