#layout_default
  h1 Layout

  .grid
    div Uno
    div Dos
    div Tres

  button.btn.mr-1 Default
  button.btn.-primary.mr-1 Primary
  button.btn.-secondary.mr-1 Secondary

  p
    input

    select

  router-view

  p
    router-link(to="/") Go to Home
    router-link(to="/about") Go to About
