ion-app.h-100
  ion-menu(side='start' menu-id='first' content-id='main')
    ion-header
      ion-toolbar(color='primary')
        ion-title Start Menu

    ion-content
      ion-list
        ion-item
          ion-icon(name='mail' slot='start' role='img' aria-label='mail')
          ion-label Inbox

        ion-item
          ion-icon(name='archive' slot='start' role='img' aria-label='archive')
          ion-label Archived

  //- ion-router-outlet#main
  ion-page.h-100
    ion-header
      ion-toolbar(color='primary')
        ion-buttons(slot='start')
          ion-menu-button

        ion-title Home

    ion-content
      router-view#main
