div
  h1 Home

  hello(name="John")

  p {{ text }}

  hr

  p I18n: {{ t('example') }}

  hr

  p Local Count: {{ count }}
  p Vuex Count: {{ vuexCount }}

  button(@click="increment") Increment Local
  button(@click="incrementVuexCount") Increment Vuex

  hr

  example-component

  hr

  //- button(@click="loadUsers") Load Users

  p {{ users }}
