div
  h1 Home

  hello(name="John")

  p {{ text }}

  hr

  p I18n: {{ t('example') }}

  hr

  p Local Count: {{ count }}
  p Vuex Count: {{ vuexCount }}

  button(@click="increment") Increment Local
  button(@click="incrementVuexCount") Increment Vuex

  hr

  example-component
    button(@click="updateTime" style="margin-bottom: 10px;") Update Time

  hr

  button(@click="loadStaticUsers") Load Static Users
  button(@click="loadRemoteUsers") Load Remote Users

  ul
    li(v-for="user in users")
      | {{ user.name }}, {{ user.email }}, {{ user.age }}
