div
  h1 Home

  hr

  p I18n: {{ $t('example') }}

  hr

  p Vuex Count: {{ count }}

  button(@click="increment") Increment

  hr

  example-component

  hr

  button(@click="loadUsers") Load Users

  p {{ users }}
