<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0'>
    <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
    <title>Demo</title>
  </head>
  <body>
    <div id="app">
      <component :is="($route.meta.layout || 'default') + '-layout'">
      </component>
    </div>
  </body>
</html>
