@charset 'UTF-8';

//@import 'node_modules/didor/scss/1-Settings/main';
//@import 'node_modules/didor/scss/2-Tools/main';
//@import 'node_modules/didor/scss/3-Generic/main';
//@import 'node_modules/didor/scss/4-Elements/main';
//@import 'node_modules/didor/scss/5-Objects/main';
//@import 'node_modules/didor/scss/6-Components/main';
//@import 'node_modules/didor/scss/7-Helpers/main';
@import "../../node_modules/@ionic/core/css/ionic.bundle.css";

.image {
  width: 210px;
  height: 60px;
  background-image: url('../assets/images/logo.png');
}

@font-face {
  font-family: 'icomoon';
  src:  url('../assets/fonts/icomoon.eot');
  src:  url('../assets/fonts/icomoon.eot') format('embedded-opentype'),
    url('../assets/fonts/icomoon.ttf') format('truetype'),
    url('../assets/fonts/icomoon.woff') format('woff'),
    url('../assets/fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-office:before {
  content: "\e903";
}
.icon-droplet:before {
  content: "\e90b";
}
.icon-pacman:before {
  content: "\e916";
}
.icon-connection:before {
  content: "\e91b";
}
.icon-library:before {
  content: "\e921";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-credit-card:before {
  content: "\e93f";
}
